/* navbar */

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding: 4px 0 4px 12px;
}

.navbar-nav {
  font-size: 18px;
}

/* firstpage */
#home {
  background-color: #ece2e1;
}

.home-img {
  height: 510px;
  width: 468.8;
  padding: 30px;
  padding-bottom: 15px;
}

.firstpage {
  text-align: center;
}

h2 {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* about */
p {
  text-align: justify;
}

/* songs */
.video1 {
  position: absolute;
  left: 55%;
  top: 220%;
}

h4 {
  line-height: 1.5;
}

#songs {
  background-color: #f4f9f9;
}
.song-table{
  line-height: 2;
  font-size: 1.2rem;
}


/* Awards */
.civilian-table {
  text-align: center;
  background-color: white;
  width: 60%;
}

.national-table {
  text-align: center;
  background-color: white;
  width: 70%;
  margin-left: 34%;
}

h1 {
  font-weight: bold;
  padding: 3% 0 0 0;
  width: 250px;
}

h3 {
  width: 320px;
  padding: 35px 0 10px 0;
}

.table-bordered td {
  border: 1px solid #769fcd;
}

.table thead th {
  border-bottom: #769fcd;
}

.table thead {
  background-color: #1687a7;
}

.carouselfull1 {
  width: 240px;
  height: 280px;
  position: absolute;
  left: 65%;
  top:314%;
}

.carouselfull2 {
  width: 334px;
  height: 260px;
  position: absolute;
  top: 370%;
}

.carousel-image {
  width: 200px;
  height: 260px;
  padding: 10%;
}

.firstc {
  text-align: center;
}

.carousel-image1 {
  width: 260px;
  height: 240px;
}

.secondc {
  text-align: center;
}

/* footer */
#footer{
  background-color: grey;
  color: white;
}

.names{
  padding: 1rem 1rem 0.5rem;
}
.space{
  width: 30%;
}
.area{
  width: 30%;
  margin-top: 1%;
  margin-left: 1%;
}
.btn{
  margin-bottom: 2%;
  margin-left: 45%;
}
#footer p{
  text-align: center;
  margin: 0;
  padding-bottom: 2%;
}
